[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = dev@robertplawski.pl
	name = Robert Plawski
[init]
	defaultBranch = main
[core]
	autocrlf = input
