[Desktop Entry]
Name=Disconnect all clients
Comment=Disconnect all connected clients
Exec=bash -c 'DIR="$(dirname "$(realpath "%k")")"; "$DIR/disconnect_clients.sh"'
Icon=network-server
Terminal=true
Type=Application
Categories=Utility;
