[Desktop Entry]
Name=Disconnect all clients
Comment=Disconnect all connected clients
Exec=/home/robert/dotfiles/thinclient/disconnect_clients.sh
Icon=network-server
Terminal=true
Type=Application
Categories=Utility;
